# Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as WORKER_NAME.

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.2)

In [2]:
import mysql.connector as conn

In [3]:
mydb=conn.connect(host='localhost',user='root',passwd="Satwik@97")

In [4]:
mydb

In [5]:
cursor=mydb.cursor()

In [6]:
cursor.execute("Show Databases")

In [7]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testsatwik',),
 ('workersdetails',),
 ('world',)]

In [8]:
cursor.execute("Create Database WorkersDetails")

DatabaseError: 1007 (HY000): Can't create database 'workersdetails'; database exists

In [9]:
cursor.execute("Show Databases")
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('testsatwik',),
 ('workersdetails',),
 ('world',)]

In [10]:
cursor.execute("create table workersdetails.workers_details(EMPID INT(10),First_Name VARCHAR(30),Last_Name VARCHAR(30),Department VARCHAR(30),SALARY INT(10))")

ProgrammingError: 1050 (42S01): Table 'workers_details' already exists

In [11]:
cursor.execute("use workersdetails")

In [12]:
cursor.execute("show tables")

In [13]:
cursor.fetchall()

[('workers_details',)]

In [14]:
cursor.execute('insert into workersdetails.workers_details values(111,"Satwik","Bannikal","Mech",50000)')
cursor.execute('insert into workersdetails.workers_details values(112,"Sanket","Lagashetti","cs",50000)')
cursor.execute('insert into workersdetails.workers_details values(113,"Shubhang","kadadevru","Mech",50000)')
cursor.execute('insert into workersdetails.workers_details values(114,"rohit","Sureban","EC",50000)')
cursor.execute('insert into workersdetails.workers_details values(115,"sagar","Gundali","EnE",50000)')

In [15]:
cursor.execute("select *from workersdetails.workers_details")

In [16]:
cursor.fetchall()

[(111, 'Satwik', 'Bannikal', 'Mech', 50000),
 (112, 'Sanket', 'Lagashetti', 'cs', 50000),
 (113, 'Shubhang', 'kadadevru', 'Mech', 50000),
 (114, 'rohit', 'Sureban', 'EC', 50000),
 (115, 'sagar', 'Gundali', 'EnE', 50000)]

In [17]:
cursor.execute("select First_Name from workersdetails.workers_details")

In [18]:
cursor.fetchall()

[('Satwik',), ('Sanket',), ('Shubhang',), ('rohit',), ('sagar',)]

In [19]:
cursor.execute("select Department from workersdetails.workers_details")
cursor.fetchall()

[('Mech',), ('cs',), ('Mech',), ('EC',), ('EnE',)]

In [20]:
cursor.execute("select *from workersdetails.workers_details")
cursor.fetchall()

[(111, 'Satwik', 'Bannikal', 'Mech', 50000),
 (112, 'Sanket', 'Lagashetti', 'cs', 50000),
 (113, 'Shubhang', 'kadadevru', 'Mech', 50000),
 (114, 'rohit', 'Sureban', 'EC', 50000),
 (115, 'sagar', 'Gundali', 'EnE', 50000)]

In [21]:
mydb.commit()

In [22]:
cursor.execute('insert into workersdetails.workers_details values(111,"Satwik","Bannikal","Mech",50000)')
cursor.execute('insert into workersdetails.workers_details values(112,"Sanket","Lagashetti","cs",50000)')
cursor.execute('insert into workersdetails.workers_details values(113,"Shubhang","kadadevru","Mech",50000)')
cursor.execute('insert into workersdetails.workers_details values(114,"rohit","Sureban","EC",50000)')
cursor.execute('insert into workersdetails.workers_details values(115,"sagar","Gundali","EnE",50000)')

In [23]:
cursor.execute("select *from workersdetails.workers_details")
cursor.fetchall()

[(111, 'Satwik', 'Bannikal', 'Mech', 50000),
 (112, 'Sanket', 'Lagashetti', 'cs', 50000),
 (113, 'Shubhang', 'kadadevru', 'Mech', 50000),
 (114, 'rohit', 'Sureban', 'EC', 50000),
 (115, 'sagar', 'Gundali', 'EnE', 50000),
 (111, 'Satwik', 'Bannikal', 'Mech', 50000),
 (112, 'Sanket', 'Lagashetti', 'cs', 50000),
 (113, 'Shubhang', 'kadadevru', 'Mech', 50000),
 (114, 'rohit', 'Sureban', 'EC', 50000),
 (115, 'sagar', 'Gundali', 'EnE', 50000)]

In [24]:
mydb.commit()

In [30]:
cursor.execute("SELECT * FROM workersdetails.workers_details WHERE EmpID <=5")
cursor.fetchall()

[]